

 

/* .nav{
  background-color: #070F2B;
  /* background-color: aqua; */
  /* text-align: center;
  color: #9290C3;
  position:static;
  display:flex;
  height: 70px;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}

.logo{
  width: 150px;
  height: 150px;
  color: white
}
span{
  color: #9290C3;
}

.about-us{
  background-color: #503C3C;
  height: 100VH;
  background-image: url(/bgimg.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.about-us
h1,p {
  font-family: 'Raleway', sans-serif;
  line-height: 1.6em;
  text-align: center;

} */

  


